<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="#services">Nossos Serviços</a>
            <a href="#about">Sobre Nós</a>
            <a href="#home"></a>
            <a href="#contact">Contato</a>
            <a href="#partners">Nossos Parceiros</a>
        </div>
    </header>
    <section class="main">
        <div class="container">
            <h1>Claoto seguros, você seguro sempre!</h1>
            <q>
                Trabalhamos com as melhores 
                seguradoras do mercado para 
                garantir a você um serviço de 
                qualidade e com o menor preço!
            </q>
            <a href="#budget">Peça já sua cotação</a>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <h2>Nossos Serviços</h2>
            <div class="carroussel">
                <button>left</button>
                <div class="products">
                    <div class="product">
                        <img src="" alt="">
                        <h3>Seguro Veículo</h3>
                        <p>
                            O seguro de 
                            automóveis é a sua 
                            segurança na 
                            estrada, garanta já o 
                            seu.
                        </p>
                    </div>
                    <div class="product">
                        <img src="" alt="">
                        <h3>Seguro Veículo</h3>
                        <p>
                            O seguro de 
                            automóveis é a sua 
                            segurança na 
                            estrada, garanta já o 
                            seu.
                        </p>
                    </div>
                    <div class="product">
                        <img src="" alt="">
                        <h3>Seguro Veículo</h3>
                        <p>
                            O seguro de 
                            automóveis é a sua 
                            segurança na 
                            estrada, garanta já o 
                            seu.
                        </p>
                    </div>
                </div>
                <button>right</button>
            </div>
            <a href="#budget">Faça já sua Cotação!</a>
        </div>
    </section>
    <section class="partners">
        <h2>Nossos parceiros</h2>
        <div class="marquee">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </section>
    <section class="about">
        <div class="container">
            <h2>Sobre Nós</h2>
            <div>
                <img src="" alt="">
                <div>
                    <ul>
                        <li>
                            Temos mais de 30 anos no mercado, garantindo a segurança de inúmeros clientes.
                        </li>
                        <li>
                            Estamos situados na cidade de São Bernardo do Campo, SP.
                        </li>
                        <li>
                            Trabalhamos com diversos tipos de seguros, desde automóvel até aviões.
                        </li>
                        <li>
                            Nossa missão é sempre trazer qualidade e conforto para os nossos clientes.
                        </li>
                    </ul>
                    <a href="#budget">Cote já seu seguro!</a>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <h2>Entre em contato</h2>
            <div>
                <div>
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.409796792492!2d-46.57461424887424!3d-23.73276177375503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4176d0fc3595%3A0xe2833906c66931c2!2sCLAOTO%20Corretora%20de%20Seguros%20LTDA!5e0!3m2!1spt-BR!2sbr!4v1673495504079!5m2!1spt-BR!2sbr" 
                        width="800" 
                        height="600" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div>
                    <p>Selecione um dos meios abaixo:</p>
                    <div>
                        <a href="">`
                            <img src="" alt="WhatsApp">
                        </a>
                        <a href="">`
                            <img src="" alt="Celular">
                        </a>
                        <a href="">`
                            <img src="" alt="Email">
                        </a>
                    </div>
                    <div>
                        <p>Caso prefira</p>
                    </div>
                    <div>
                        <p>Salve nosso contato:</p>
                        <p>contato@claotoseguros.com.br</p>
                        <p>(11) 9 8777-7913</p>
                    </div>
                    <div>
                        <p>OU</p>
                    </div>
                    <a href="#budget">Solicite seu Orçamento</a>
                </div>
            </div>
        </div>
    </section>
    <section class="budget">
        <div class="container">
            <form action="">
                <img src="" alt="">
                <h2>Solicitação de Orçamento</h2>
                <input type="text">
                <div>
                    <input type="text">
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                    <input type="text">
                </div>
                <input type="submit" value="Solicitar">
                <div>
                    <p>OU</p>
                </div>
                <button>Formulário completo</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="container">
            <img src="" alt="">
            <div>
                <h2>Nossa História</h2>
                <p>
                    Com mais de 30 anos de experiência, oferecemos a 
                    você a tranquilidade de saber que estamos sempre 
                    disponíveis, 24 horas por dia, 7 dias por semana, 
                    inclusive feriados, para lhe proporcionar segurança e 
                    conforto em qualquer situação. Escolha a segurança 
                    que você e sua família merecem.
                </p>
            </div>
        </div>
        <div class="container">
            <small>Copyright © 2023 CLAOTO Corretora de Seguros LTDA.</small>
        </div>
    </footer>
</body>
</html>