:root {
    --header-height: 87px;
    --white: #FFFFFF;
    --blue: #0067a0;
    --light_blue: #0092e3;
    --black: #000000;
    --gray: #F0F0F0;
    --dark_gray: #4e4e4e;
    --font1: 'Signika Negative', sans-serif;
    --font2: 'Sawarabi Mincho', serif;
  }