header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: var(--header-height);
}

header .container {
    padding: 11px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 87px;
}

header .container a {
    color: var(--white);
    text-decoration: none;
    transition: border 1s;
    text-transform: uppercase;
    font-family: var(--font1);
    font-size: 1.3rem;
    border-bottom: 2px solid transparent;
}

header .container a:hover {
    border-bottom: 2px solid var(--white);
}

header .container a img {
    height: 60px;
}